*   {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

#Fighter    {
    background-color: #e25822;
}

#P1C {
    display: flex;
    float: right;
    margin-top: 50px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#P2C {
    display: flex;
    float: right;
    margin-top: 50px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    display: flex;
    float: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    padding: 30px;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: left;
}

.P1   {
    display: flex;
    background-color: blue;
}

.P2   {
    display: flex;
    background-color: red;
}


.left-side {
    width: 66.6666%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FighterInput{
    position: absolute;
    left: -9999px;
}

.OpponentInput{    
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label > img {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 3px 3px rgb(0, 0, 0);
}

input[type="radio"] + label > img {
    border: 1px rgb(0, 0, 0);
    padding: 10px;

    transition: 500ms all;
}